<html lang="de">  
  <head>    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>N27 - Impressum</title>
  </head>
  <body>
    <header>
      <h1>Impressum</h1>  
      
      

    </header>    
    <nav>      
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
            <a href="/login">Logout</a>    
            <a href="/impressum">impressum</a>    
            <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
    </nav>
    Impressum & Kontakt
DPL Professionals GmbH

Vertreten durch:
Daniel Sekic, Geschäftsführender Gesellschafter
Jörg Paas, Geschäftsführender Gesellschafter

Verwaltung:
Hauptstraße 9
48734 Reken
Telefon: 0 28 64/95 18 13-0
Fax: 0 28 64/95 18 13-11
E-Mail: info@dplp.de

Standort Duisburg
Harmoniestraße 2a
47119 Duisburg
Telefon: 02 03/75 96 90-0
Fax: 02 03/75 96 90-11

Eintragung im Handelsregister:
Registergericht: AG Coesfeld
Registernummer: HRB 15300

Umsatzsteuer-Identifikationsnummer:
gemäß §27 a Umsatzsteuergesetz:
DE255841890

Externer Datenschutzbeauftragter:
Logata Digital Solutions GmbH
Herr Uwe Drath
Datenschutzbeauftragter
Hindenburgstraße 19
46395 Bocholt

Quellenangaben für die verwendten Bilder und Grafiken:

Staplerfahrer und Kollegin in Spedition ©www.fotolia.de | Author: Kzenon
Large modern warehouse with forklifts ©www.fotolia.de | Author: zhu difeng
Multiethnic Medical Team Stacking Hands ©www.fotolia.de | Author: Andrey Popov
Safety Helmet Engineering Construction worker equipment Teamwork Business background ©www.fotolia.de | Author: VTT Studio
Bauarbeiter gehen in die Mittagspause File: ©www.fotolia.de | Author: Kara
Funny Workers File: ©www.fotolia.de | Author: guruXOX
handsome young construction worker with his commercial van on background File: ©www.fotolia.de | Author: ACP prod
dağcılık yardımı & dağların zirvesine ulaşmak File: ©www.fotolia.de | Author: crazymedia
People’s thoughts ©www.fotolia.de | Author: olly
Communication at factory ©www.fotolia.de | Author: pressmaster
Working man near engine ©www.fotolia.de | Author: master_c
Schweißer im Stahlbau File: ©www.fotolia.de | Author: industrieblick
Focus of manager talking on the phone next to the workers ©www.fotolia.de | Author: WavebreakmediaMicro
Silhouette engineer standing orders for construction crews to wo ©www.fotolia.de | Author: Yuttana Studio
Team of workers at factory ©www.fotolia.de | Author: alotofpeople
metal machining industry. Worker operating cnc milling machine ©www.fotolia.de | Author: Kadmy
Teamwork meeting concept ©www.fotolia.de | Author: alotofpeople
arzt erklärt einer patientin etwas in der praxis File: ©www.fotolia.de | Author: contrastwerkstatt
Bergsteiger auf einem Gipfel im Gebirge bei Nebel ©www.fotolia.de | Author: Visions-AD
industrial worker operating cnc turning machine in metal machining industry File: ©www.fotolia.de | Author: Kadmy
Surgeons performing surgery in operating Theater. File: ©www.fotolia.de | Author: s4svisuals
Male nurse pushing stretcher gurney bed in hospital corridor with doctors & senior female patient File: ©www.fotolia.de | Author: spotmatikphoto
Paper mill factory workers File: ©www.fotolia.de | Author: agnormark
female engineer inspecting food industry installation ©www.fotolia.de | Author: eric
Manager and workers in factory ©www.fotolia.de | Author: alotofpeople
Portrait Of Engineers And Apprentices In Busy Factory File: ©www.fotolia.de | Author: Monkey Business
Selfie of young smiling teenagers having fun together File: ©www.fotolia.de | Author: deagreez
the interior metal manufacturing the view from the top File: ©www.fotolia.de | Author: Александр Ивасенко
Call center operators. Focus at brunette business woman in headset File: ©www.fotolia.de | Author: rogerphoto
Young woman holding senior man hands, closeup File: ©www.fotolia.de | Author: Africa Studio
Logistik im Warenlager – Arbeiter mit Hubwagen und Gabelstapler am Hochregal // Logistics in warehouse – Worker with pallet truck and forklift truck on high rack File: ©www.fotolia.de | Author: industrieblick
Collection of different caucasian women and men ranging from 18 to 50 years File: ©www.fotolia.de | Author: Andrey_Arkusha
Installateur bei der Arbeit File: ©www.fotolia.de | Author: Wellnhofer Designs
Team work, life goals and self improvement concept. Man helping his female climbing partner up a steep edge of a mountain. ©www.fotolia.de | Author: kieferpix
Worker in metal industry File: ©www.fotolia.de | Author: Daniel Vincek
container with forklift loading. File: ©www.fotolia.de | Author: Suphanat
Worker in metal industry File: ©www.fotolia.de | Author: Daniel Vincek
Manager of logistics making list of goods File: ©www.fotolia.de | Author: pressmaster
A man welder in a black T-shirt, construction gloves, hard works and brews grinder metal an angle grinder in the workshop on a wooden table File: ©www.fotolia.de | Author: Виталий Сова
bottom view.professional team of doctors medical center ©www.fotolia.de | Author: FotolEdhar

</body>
</html>