<html>
    <!--Ich bin ein Kommentar-->
    <!--was ist der head?: Die Kopfzeile-->
    <head>
         <title>
         N27 - Login
         </title>
    </head>
    <!--Was ist der title?: Der Titel der Seite, im Browsertap angezeigt-->
    <body>
        <!--Was ist body?: Der Hauptteil-->
     <h1>
         Bitte melden sie sich an :
     </h1>
     <p>Benutzername:</p>
     <!--was ist p?: Paragraph-->
     <!--Textfeld einfügen-->
     <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
     <p>Passwort::</p>
     <input type="password" id="passwort" name="passwort">
    </body>
</html>
