<html>
    <!--Ich bin ein Kommentar-->
    <!--Enthält Informationen der nicht sichtbaren Kopfzeile-->
    <head>
        <!--Aufschrift auf dem Browser-Tap-->
         <title>
         N27 - Login
         </title>
    </head>
    <!--Sichbarer Teil der Website-->
    <body>
        <!--Heading (Überschrift) erster Ordnung-->
     <h1>
         Bitte melden sie sich an :
     </h1>
     <!--Paragraph (Absatz)-->
     <p>Benutzername:</p>
     <!--Eingabefeld, Textbox-->
     <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
     <p>Passwort::</p>
     <input type="password" id="passwort" name="passwort">
    </body>
</html>
